/* stylelint-disable color-hex-length */
/* stylelint-disable scss/at-rule-no-unknown */
/* stylelint-disable media-feature-range-notation */
/* stylelint-disable rule-empty-line-before */
/* stylelint-disable at-rule-empty-line-before */
@import "tailwindcss";
/* @use "../../shared/styles/fonts/fonts.scss"; */

@custom-variant hover (&:hover);

@theme {
    --color-background: #FCFAF8;
    --color-design-elements: #C2C2C2;
    --color-heading: #151515;
    --color-accent: #BE9557;
    --color-background-secondary: #F2EEE9;
    --color-text-primary: #4D4D4D;
    --color-text-secondary: #706961;
    --color-image-grad-start: #4D4D4D10;
    --color-image-grad-end: #15151580;
    --font-sans: "Inter", Arial, sans-serif;
    --font-heading: "Russo One", sans-serif;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}

@layer components {
    .font-h1 {
        @apply text-[96px] leading-none tracking-[5%];
    }

    @media (max-width: 1280px) {
        .font-h1 {
            @apply text-[32px];
        }
    }

    .font-h2 {
        @apply text-[64px] leading-[120%] tracking-[5%];
    }

    @media (max-width: 1280px) {
        .font-h2 {
            @apply text-[28px];
        }
    }

    .font-h3 {
        @apply text-[48px] leading-[120%] tracking-[5%];
    }

    @media (max-width: 768px) {
        .font-h3 {
            @apply text-[24px];
        }
    }

    .font-h4 {
        @apply text-[24px] leading-[120%] tracking-[5%];
    }

    @media (max-width: 768px) {
        .font-h4 {
            @apply text-xl;
        }
    }

    .font-h5 {
        @apply text-base leading-[120%] tracking-[5%];
    }

    @media (max-width: 768px) {
        .font-h5 {
            @apply text-lg;
        }
    }

    .font-h6 {
        @apply text-sm leading-[120%] tracking-[5%];
    }

    @media (max-width: 768px) {
        .font-h6 {
            @apply text-base;
        }
    }

    .font-sub {
        @apply font-normal text-[20px] leading-normal;
    }

    @media (max-width: 768px) {
        .font-sub {
            @apply text-sm;
        }
    }

    .font-p-xl {
        @apply font-normal text-xl leading-normal;
    }

    @media (max-width: 768px) {
        .font-p-xl {
            @apply text-lg;
        }
    }

    .font-p-lg {
        @apply font-normal text-lg leading-normal;
    }

    @media (max-width: 768px) {
        .font-p-lg {
            @apply text-base;
        }
    }

    .font-p-md {
        @apply font-normal text-base leading-normal;
    }

    @media (max-width: 768px) {
        .font-p-md {
            @apply text-sm;
        }
    }

    .font-p-sm {
        @apply font-normal text-sm leading-none;
    }

    @media (max-width: 768px) {
        .font-p-sm {
            @apply text-[13px];
        }
    }

    .font-p-xs {
        @apply font-normal text-xs leading-none;
    }

    .font-cap-ital {
        @apply font-normal italic text-[14px] leading-none tracking-[6%];
    }

    .font-cap {
        @apply font-normal text-[14px] leading-none tracking-[6%];
    }

    .font-lbl {
        @apply font-heading text-xs leading-none tracking-[4px];
    }

    .font-lbl-card {
        @apply font-heading text-[13px] leading-none tracking-[1.3px];
    }

    .font-lbl-number {
        @apply font-heading text-[10px] leading-[15px] tracking-[1px];
    }

    .font-quote {
        @apply font-heading text-[36px] leading-normal tracking-[2px];
    }

    .font-nav {
        @apply font-heading text-[11px] leading-[120%] tracking-[2px];
    }

    .font-btn-xs {
        @apply font-heading text-xs leading-[16.5px] tracking-[1px];
    }

    .font-btn-sm {
        @apply font-heading text-sm leading-normal tracking-[2px];
    }

    .font-inline-link {
        @apply underline! decoration-1 underline-offset-4 hover:decoration-accent hover:text-accent transition-colors duration-300;
    }

    /* .carousel__dot {
        @apply w-3 h-3 rounded-full bg-border max-md:w-2 max-md:h-2;
    }

    .carousel__dot--selected {
        @apply bg-primary/100;
    } */
}

@layer utilities {
    .image-gradient {
        @apply bg-linear-to-b from-image-grad-start to-image-grad-end
    }

    .scrollbar-primary::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    .scrollbar-primary::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: var(--color-background);
    }

    .scrollbar-primary::-webkit-scrollbar-track:active {
        background-color: var(--color-background);
    }

    .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: var(--color-primary);
    }

    .scrollbar-primary::-webkit-scrollbar-thumb:active {
        background-color: var(--color-primary);
    }

    @keyframes float-1 {

        0%,
        100% {
            transform: translate(10%, 0) scale(1);
        }

        33% {
            transform: translate(-40%, -20%) scale(1.05);
        }

        66% {
            transform: translate(30%, -50%) scale(0.65);
        }
    }

    @keyframes float-2 {

        0%,
        100% {
            transform: translate(60%, 0) scale(1);
        }

        45% {
            transform: translate(-50%, -20%) scale(0.95);
        }

        75% {
            transform: translate(40%, 50%) scale(1.50);
        }
    }

    .animate-float-1 {
        animation: float-1 8s ease-in-out infinite;
    }

    .animate-float-2 {
        animation: float-2 10s ease-in-out infinite;
    }
}