@font-face {
    font-family: "Inter";
    src: url('~@/shared/styles/fonts/Inter-Regular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url('~@/shared/styles/fonts/Inter-Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url('~@/shared/styles/fonts/Inter-Medium.otf') format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Russo One";
    src: url('~@/shared/styles/fonts/RussoOne-Regular.ttf') format("truetype");
    font-weight: 400;
}